[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/cloudcentrik
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/cloudcentrik
	label-Verified = -1..+1 group user/cloudcentrik
	push = group user/cloudcentrik
	read = group user/cloudcentrik
	rebase = group user/cloudcentrik
	removeReviewer = group user/cloudcentrik
	submit = group user/cloudcentrik
[access "refs/heads/*"]
	create = group user/cloudcentrik
	push = +force group user/cloudcentrik
	pushMerge = group user/cloudcentrik
	read = group user/cloudcentrik
[access "refs/tags/*"]
	push = group user/cloudcentrik
	push = +force group user/cloudcentrik
